all_datasets/iWildCam/iwildcam_v2_0
all_datasets/
datacomp/
experiments/
slurm/
.ipynb_checkpoints/
baselines/.ipynb_checkpoints/
otdd/
.ipynb_checkpoints/
baselines/__pycache__/
experiments_again/
baselines/slurm/
*.ipynb
CLUE/
baselines/tsds_data/
baselines/old_files/
baselines/runs/
__pycache__/
zcore/data/
zcore/results/
visualizations/diff_visualization*/

analysis/
*.pyc